import java.util.Scanner;
class Wipro24_1
{
	public static void main(String[] args) 
	{
		Scanner sc = new Scanner(System.in);
		char ch = sc.next().charAt(0);
		System.out.println(swapeCase(ch));
	}
	public static String swapeCase(char ch){
		String str = String.valueOf(ch);
		if(ch>='A'&&ch<='Z'){
			return str.toLowerCase();
		}
		else 
		{
			return str.toUpperCase();
		}
	}
}
